input.middle-email {
  background: black;
  height: 43px;
  width: 53%;
  color: white;
  text-align: center;
}

.container.middle-email-container {
  margin-left: 40px;
}
.email-panel-header{
  height: 61px;
  /*background-color: #fc5a1b;
  border-color: #fc5a1b;*/
}
.panel-primary > .panel-heading {
     color: #fff;
    background-color: #fc5a1b;
    border-color: #fc5a1b;
}
